<%- include('header') %>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title ms-5 mt-5">Form Basic</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" method="post" action="/editpassword">
                  <div class="card-body">
                    <h4 class="card-title mb-4">Personal Info</h4>                  
                    <div class="form-group row mb-4">
                      <label for="password" class="col-sm-3 text-end control-label col-form-label ">password</label>
                      <div class="col-sm-9 ">
                        <input type="text"class="form-control" id="password" name="password" placeholder="enter your old password"/>
                      </div>                     
                    </div>                                                   
                    <div class="form-group row mb-4">
                      <label for="npass" class="col-sm-3 text-end control-label col-form-label">new password</label>
                      <div class="col-sm-9">
                        <input type="text"class="form-control" id="npass" name="npass" placeholder="enter new password"/>
                      </div>                     
                    </div>                                                   
                    <div class="form-group row">
                      <label for="copass" class="col-sm-3 text-end control-label col-form-label">conform new password</label>
                      <div class="col-sm-9">
                        <input type="text"class="form-control" id="copass" name="copass" placeholder="conform new password"/>
                      </div>                     
                    </div>                                                   
                    <div class="form-group row">                     
                      <div class="col-sm-9">
                        <input type="submit" id="submit" value="submit"/> </input>
                      </div>
                    </div>
                    
                  </div>
                 
                </form>
              </div>
              
             
            </div>
            <div class="col-md-6">
             
              
             
            </div>
          </div>
          <!-- editor -->
        
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <%- include('footer') %>